
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



:root{
    --body-color: rgb(250, 250, 250);
	--color-white: rgb(255, 255, 255);

	--text-color-second: rgb(68, 68, 68);
	--text-color-third: rgb(90, 159, 171);

	--first-color: rgb(110, 87, 224);
	--first-color-hover: rgb(40, 91, 212);

	--second-color: rgb(0, 201, 255);
	--third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}



html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}


.btn{
    position: relative;
    top: 45px;
    left: 10%;
    font-weight: 500;
    padding: 12px 20px;
    background: black;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;

}

.btn-primary{
    position: relative;
    align-items: center;
    text-align: center;
    height: 40px;
    left: 0px;
    background-color: black;
    width: 415px;
    top: -10px;
    border: 20px 10px 20px 10px;
}
a{
    font-family: "Manrope", sans-serif;
}
h3{
    font-family: "Manrope", sans-serif;
}
.btn>i{
    margin-left: 10px;
}


i{
    font-size: 16px;
}

body{
   background-color: #f1f5f9;
}

.container{
    width: 100%;
    position: relative;
}


nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 90px;
    background: 	white;
    left: 0px;
    padding-inline: 9vw;
    transition: .3s;
    border-radius: 80px;
    z-index: 100;
}

.nav-logo{
   position: relative;
   left: 160px;
   
}
.nav_list{
    position: relative;
    left: -250px;
    top: -15px;
}
.hamburger { 
    display: none; 
    color: #fff; 
    font-size: 25px; 
} 
    
.nav-name{
    position: relative;
    font-size: 35px;
    top: -35px;
    font-weight: 800px;
    font-family: cursive;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--first-color);
    transition: .3;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}

.wrapper{
    padding-inline: 10vw;
}

.featured-box{
    background-color: white;
    border-radius: 40px 20px 40px 20px;
    position: relative;
    display: flex;
    top: 120px;
    height: 500px;
    width: 65%;
    left: 8%;
    
}



.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-card span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.featured-name{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: transparent;
}
.social_icons{
    position: relative;
    left: 13%;
    top: -10px;
    display: flex;
    color: black;
    margin-top: 5em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}




.featured-image{
    display: flex;
    justify-content: baseline;
    align-items: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    position: relative;
    top: -70px;
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;

}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-btn{
   position: absolute;
   top: 600px;
   bottom: 0;
   left: 65%;
   translate: -50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 50px;
   gap: 5px;
   text-decoration: none;
   color: var(--text-color-second);
   background: var(--color-white);
   border-radius: 30px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
   z-index: 2;
}
.scroll-btn i{
    font-size: 20px;
}

.section{
    position: relative;
    top: 100px;
    padding-block: 5em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    position: relative;
    top: 100px;
    display: flex;
    width: 50%;
}
.coli1{
    position: relative;
    top: 500px;
    display: flex;
    width: 50%;
    left: -600px;
}
.foto2{
    position: relative;
    width: 600px;  
    height: 500px;
    left: 5%;
    top: -150px;
}


.top-header{
    position: relative;
    top: 350px;
    text-align: center;
    margin-bottom: 5em;
}

.eroni{
    font-family: "Manrope", sans-serif;
    position: absolute;
    left: 14%;
    font-size: 30px;
    width: 400px;
    top: 50px;
}


.top-header h1{
   
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 10px;
}
.top-header span{
    position: relative;
    color: black;
    font-family: "Manrope",sans-serif;
    top: 1275px;
    left: 0px;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}
h5{
    position: relative;
    font-family: "Manrope", sans-serif;
}
:placeholder-shown{
    position: relative;
    font-family: "Manrope" , sans-serif;
    opacity: 100%;
}
.f1{
  position: relative;
  font-family: "Manrope", sans-serif;
  left: 20px;
}

.footer-social-icons{
    position: relative;
    left: 20px;
}
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 30px;
    margin-left: 10px;
    word-spacing: 1.5px;
    width: 50%;
    left: 40%;
    top: 250px;
    box-shadow: 10px 8px 10px 20px var(--first-shadow-color);
    border-radius: 20px 20px 80px 20px;
}


.about-info p{
    text-align: left;
    padding: 20px;
    margin-inline: 5px;
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    color: black;
}


.text1{
    position: relative;
    align-items: center;
    text-align: center;
    font-family: "Manrope", sans-serif;
    top: 400px;
}
.text2{
    position: relative;
    align-items: center;
    text-align: center;
    font-family: "Manrope", sans-serif;
    top: 530px;
  
}
.services-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    margin-top: 2rem;
    top: 600px;
  }
  .services-box {
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
  }
  .services-box:hover{
   background-color: black;
   opacity: 80%;
  }
  
  .services-box h3 {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin: 0.7rem 0 0.4rem;
  }
  .services-box:hover h3{
    color: #fff;
  }
  .services-box .bx {
    padding-top: 2rem;
    font-size: 54px;
    color: var(--main-color);
  }
  .services-box:hover .bx{
    color: #22cf91;
  }
  .services-box a {
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    text-decoration: none;
  }
  .services-box:hover a{
    color: #8b8a8f;
  }
  .portfolio{
    position: relative;
    top: -100px;
  }
  .portfolio-content {
    position: relative;
    width: 60%;
    left: 20%;
    justify-content: center;
    align-items: center;
    top: 450px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1rem;
    margin-top: 2rem;
  }
  .portfolio-img {
    overflow: hidden;
    border-radius: 0.5rem;
  }
  .portfolio-img img {
    width: 100%;
    display: block;
  }
  .portfolio-img img:hover {
    transform: scale(1.1);
    transition: 1s;
  }

h4{

    color: black;

}
.about-btn button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: blue;
    color: white;
    border-radius: 30px;
}
.about-btn button:hover{
    background: transparent;
}
/* ----- ABOUT / SKILLS BOX ----- */
.skills-box{
    position: relative;
    left: 650px;
    top: 400px;
    margin: 10px;

}
.skills-box1{
    position: relative;
    left: 650px;
    top: 400px;
    margin: 10px;


}
.skills-header{
    margin-bottom: 30px;
}
.skills-header1{
    margin-bottom: 30px;
}
.skills-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 300px;
    top: 10px;
   
}
.skills-list1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 300px;
    top: 10px;
   
}
.skills-list span{
    position: relative;
    font-size: 14px;
    background: gray;
    color: var(--color-white);
    padding: 2px 10px;
    width: 100px;
    height: 50px;
    left: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px 10px 20px 10px;
}
.skills-list1 span{
    position: relative;
    font-size: 14px;
    background: gray;
    color: var(--color-white);
    padding: 2px 10px;
    width: 100px;
    height: 50px;
    left: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px 10px 20px 10px;
}

h3{
    text-align: center;
}
/* ----- PROJECTS BOX ----- */
.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.project-box>i{
    font-size: 50px;
    color: #00B5E7;
    margin-bottom: 25px;
}
.project-box label{
    font-size: 15px;
    color: #777;
}
.contcati1{
    position: relative;
    top: 200px;
}
.project-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--second-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label{
    color: var(--color-white);
    z-index: 2; 
}
/* ----- CONTACT BOX ----- */
.contact-info{
    position: relative;
    display: flex;
    font-family: "Manrope", sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 50%;
    left: 40%;
    top: 1950px;
    height: 375px;
    background: black;
    opacity: 80%;
    border-radius: 20px 70px 20px 70px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.contact-info>h2{
    color: var(--color-white);
    margin-bottom: 20px;
}
.contact-info>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}
.contact-info p>i{
    font-size: 18px;
}
.contact-info::after{
    background: whitesmoke;
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{

    color: black;
    background-color: transparent;
    z-index: 2;
}
#m2{
    position: relative;
    opacity: 80%;
}
.form-control{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 1960px;
    width: 50%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}



.contacti{
    position: relative;
    font-family: "Manrope", sans-serif;
    left: 160px;
    top: -20px;
}

.col-md-6.border-left.py-3{
    position: relative;
    font-family: "Manrope", sans-serif;
    top: 2040px;
    left: -400px;
 

    
}

.form-control{
    position: relative;
    top: -50px;
    width: 300px;
    height: 30px;
    left: 100px;
    border: 2px solid #AAA;
    border-radius: 20px 10px 20px 10px;
    padding: 10px;

}
.form-group{
    position: relative;
    width: 0px;
}
.getin{
    font-family: "Manrope", sans-serif;
    position: absolute;
    top: 1650px;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 45%;
}

  
.getin:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
.s1{
    position: relative;
    top: 1670px;
    font-family: "Manrope", sans-serif;
    color: black;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
}


.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: var(--color-white);
}

.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102%;
    border: none;
    border-radius: 20px;
    background: black;
    color: var(--color-white);
}
.form-button>.btn:hover{
    background: #00B5E7;
    width: 50px;
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}
footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    top: 1500px;
    background: #F8F8F8;
    padding-block: 40px 60px;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 20px, black;
}
.top-footer p{
    position: relative;
    font-family: "Manrope", sans-serif;
    left: 15px;
    font-size: 25px;
    font-weight: 600;
    
}


.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
}
.footer-social-icons{
    display: flex;
    gap: 30px;   
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}

.p1{
    position: absolute;
    left: 70px;
    font-family: "Manrope", sans-serif;
    color: rgb(100, 117, 134);
    font-weight: 500;
    top: 100px;
}
.p2{
    left: 70px;
    top: 300px;
    font-family: "Manrope", sans-serif;
    position: absolute;
    color: black;
    align-items: center;


}

.p2{
    color: black;
    font-size: 15px;
    font-family: "Manrope", sans-serif;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 50px;
    left: 0px;
    transition: opacity 0.5s ease-in-out;
  }
 .icons {
    background-color: none;
    position: relative;
    width: 230px;
    height: 230px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0px;
    border-radius: 25px;
    left: -10px;
    z-index: 2;
   
  }

  .j3, .l3, .h3, .getin{
    position: relative;
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    background: black;
    color: white;
    width: 1250px;
    left: 17%;
    border-radius: 50px;
    height: 50px;
    opacity: 70%;
    padding: 5px;
    margin: 5px;
    
  }
  
  h4{
    position: relative;
    left: 40%;
    width: 400px;
  }
 
  
  .slider img {
    position: relative;
    display: none;
    width: 100%;

   
  }
  
  .slider img.active {
    display: block;
  }
  

  .foto{
    
    border-radius: 25px;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 70%;
    top: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .foto1{
    background: none;
    border-radius: 25px;
    position: absolute;
    width: 210px;
    height: 200px;
    left: 70%;
    top: 450px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  
  
  .tx2{
    font-family: "Manrope", sans-serif;
    color: black;
    position: absolute;
    left: 10%;
    top: 0px;
    z-index: 2;
  }
  .tx1{
    display: none;
    font-family: "Manrope", sans-serif;
    color: black;
    position: absolute;
    left: 25%;
    top: 0px;
    z-index: 2;
  }
  
  .pozita{
    position: absolute;
    top: 260px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    left: 14%;
  }
  .available {
    position: absolute;
    color: white;
    font-family: "Manrope", sans-serif;
    background: black;
    border: none;
    top: 170px;
    left: 70px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


.unavailable {
    background-color: red;
    color: white;
}

.skills-container {
    position: relative;
    display: grid;
    top: 700px;
    width: 50%;
    left: 20%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
  }
  .skills-img img {
    position: relative;
    width: 100%;
    padding-left: 4rem;
    left: 150px;
    object-position: center;
  }
  .bars-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
  .bars-box h3,
  span {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
  }
  .light-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: white;
    border-radius: 0.5rem;
  }
  .percent-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background: black;
    border-radius: 0.5rem;
  }
  .html-bar {
    width: 92%;
  }
  .css-bar {
    width: 80%;
  }
  .js-bar {
    width: 80%;
  }
  .react-bar {
    
    width: 70%;
  }

  .skillsat{
    position: relative; 
    top: 600px;
    font-family: "Manrope", sans-serif;
    align-items: center;
    text-align: center;
  }

  .a1{
    position: relative;
    text-align: center;
    align-items: center;
    font-family: "Manrope", sans-serif;
    color: white;
    height: 55px;
    padding: 0;
    top: 20px;
    background: black;
    width: 1250px;
    font-size: 20px;
    border-radius: 50px;
    left: 20%;
    opacity: 70% ;
  }
  
/* Making Responsive */


  @media (max-width: 340px) {
    
    .home-text span {
      font-size: 1rem;
    }
    .home-text h2 {
      font-size: 0.9rem;
      font-weight: 500;
    }
    .information .info-box span {
      font-size: 1rem;
    }
    .portfolio-content {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .contact-form form{
      width: 300px;
    }
    .contact-button{
      margin-left: 25%;
    }
  }


/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1440px){

    .p1{
        left: 53px;
    }

    .nav_menu_list{
        position: relative;
        left: 150px;
    }

    .p2{  
        position: relative;
        top: 30px;
        left: 35px;
    }
    .pozita{
        top: 200px;
    }
    .social_icons{
        position: relative;
        top: -50px;
        left: 35px;
    }
    .btn{
        position: relative;
        top: 0px;
        left: 35px;
    }
    .available{
        top: -320px;
        width: 200px;
        position: relative;
        left: 30px;
    }
    .foto2{
        position: relative;
        left: 00px;
    }
     .j3 , .l3, .getin, .a1, .h3{
        position: relative;
        left: 150px;
    }
     .m3, .m4, .j4{
        position: relative;
        left: 41%;
    }
   
}

@media only screen and (max-width: 1325px){
   .p1{
    position: relative;
    top: -80px;
    left: 35px;
   }
    .p2{
    position: relative;
    top: -50px;
    left: 0px;
   }
   .btn{
    position: relative;
    top: -40px;
    left: 0px;
   }
   .nav_list{
    left: 70px;
}
   .social_icons{
    position: relative;
    top: -100px;
    left: 0px;
   }
}
@media only screen and (max-width: 1024px){
    .nav_menu_list{
        left: 0px;
    }
    .featured-text{
        padding: 0;
    }
    .featured-box{
        left: 100px;
    }
    .image, .image img{
        position: relative;
        justify-content: center;
        align-items: center;
        top: -20px;
        left: -25%;
        width: 380px;
        height: 380px;
    }

    .image{
        position: relative;
        left: 150px;
    }
    .eroni{
        font-family: "Manrope", sans-serif;
        font-style: normal;
        position: relative;
        width: 250px;
        top: -50px;
        left: 0px;
    }
    .p1{
        font-family: "Manrope", sans-serif;
        position: relative;
        top: -110px;
        text-align: center;
        left: -28%;
        align-items: center;
    }
    .nav_list{
        left: 40px;
    }

    .dizajnet{
        position: relative;
        left: 300px;
        top: -2800px;
    }

    .p2{
        position: relative;
        font-family: "Manrope", sans-serif;
        font-style: normal;
        top: 00px;
        left: 0px;
        width: 400px;
        font-size: 16px;
        font-style: normal;
    }
    .btn{
        position: relative;
        top: 0px;
        left: 0px;
    }
    .scroll-btn{
        position: relative;
        left: -50px;
    }
    .pozita{
        top: 220px;
        left: 0px;
    }
    .social_icons{
        position: relative;
        top: 0px;
        left: 0px;
    }

    
    .skills-container{
        top: 600px;
        position: relative;
        left: 35%;
    }
    .available{
        left: 0px;
        top: -365px;
    }
    .about-info{
        left: 20%;
        width: 300px;
    }
    .j3 , .l3, .getin, .a1, .h3{
        position: relative;
        left: 20px;
    }
    .m3, .m4, .j4{
        left: 45%;
    }
    .text1{
        top: 200px;
    }
    .portfolio-content{
        top: 350px;
        left: 35%;
    }
    .services-content{
        position: relative;
        left: 10%;
    }

    
    footer{
        top: 1500px;
        left: 15%;
    }
    .s1{
        position: relative;
        left: 155px;
    }
}
/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */

@media only screen and (max-width: 900px) {
    .nav-button{
       
        display: block;
        top: 100px;
        justify-content: center;
        align-items: center;
    }
    
    .nav-menu.responsive{
        position: absolute;
        top:00px;
        display: flex;
        width: 520px;
        height: 852px;
        left: -100px;
        text-align: center;
        justify-content: center;
        align-items: center;    
    }

    .nav-menu.responsive::after{
        display: none;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(100px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
   
    .nav_menu_list{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: block;
        align-items: center;
        top: 25px;
        z-index: 2;
        justify-content: center;
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 350px;
        justify-content: center;
        align-items: center;
        left: -10px;
        
    }
  
    .nav-name{   
        position: relative;
        font-family: "Manrope", sans-serif;
    
    }
    .nav-logo{
        left: -0px;
    }
    .featured-text{
        width: 90%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
        width: 5px;
       align-items: center;
      
        
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image{
        position: relative;
        left: 0px;
        top: 0px;
        width: 300px;
        height: 300px;
    }
    .image img{
        position: relative;
        left: 0px;
        justify-content: center;
        align-items: center;    
        width: 300px;
        height: 300px;
    }
    .available{
        top: -310px;
        left: 330px;
    }
    
     .p2{
        position: relative;
        top: -150px;
        text-align: center;
        width: 300px;
    }
    .p1{
        position: relative;
        top: -460px;
        left: 2px;
        align-items: center;
        text-align: center;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
   
    .about-info, .contact-info{
        width: 100%;
    }
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }
    .eroni{
        position: relative;
        top: -400px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .btn{
        position: relative;
        top: -150px;
        left: 25%;
    }
    .pozita{
        top: 0px;
        left: 100px;
    }
    .social_icons{
        position: relative;
        top: -150px;
        left: 30%;
    }
    .scroll-btn{
        top: 800px;
        left: 90%;
    }
}


/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */
@media only screen and (max-width: 540px){
    .featured-box{
        position: relative;
        width: 400px;
        left: -10%;
        height: 1300px;
        border: black;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
     
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
   
    .nav-menu-btn{
        position: relative;
        display: block;
        align-items: center;
        top: 0px;
        justify-content: center;
       
    }
    .hamburger { 
        display: block; 
        padding: 0 2rem; 
    } 
    .featured-name{
        font-size: 40px;
    }
    .featured-image{
        position: relative;
        top: -50px;
        left: 0px;
    }
    .eroni{
        top: -550px;
        left: -40px;
        
    }

    .image img{
        position: relative;
        width: 600px;
        height: 400px;
        justify-content: center;
        left: -150px;
        top: -100px;
    }
    .available{
        position: relative;
        left: 220px;
        width: 30%;
        top: -960px;
    }
   
    .p1{
        left: -109px;
        top: -600px;
    }
    .p2{
        top: -50px;
        text-align: center;
        font-size: 20px;
        left: 30px;
    }
    .btn{
        top: -50px;
        left: 100px;
    }
    .pozita{
        top: 50px;
        left: 30%;
    }
    .social_icons{
        top: -30px;
        left: 120px;
    }
    .scroll-btn{
        position: relative;
        top: 950px;
        left: 50%;

    }
    

    .dizajnet{
        position: relative;
        top: -2700px;
        left: -180px;
    }
   

    .skills-img{
        position: relative;
        width: 350px;
    }
    .foto1{
       display: none;
        }
    .icons{
        left: -10px;
        width: 200px;
        height: 200px;
    }

    .a1{
        position: relative;
        top: 0px;
        
        
    }
    
    .about-info{
        top: 600px;
        left: 40%;
        width: 300px;
    }

    .foto2{
        left: 0px;
        width: 300px;
        height: 300px;
        top: 250px;
    }
  
    .project-box{
        width: 100%;
    }

   
    .skills-box{
        position: relative;
        top: 550px;
        left: 620px;
    }

    .skills-box1{
        position: relative;
        top: 800px;
        left: 300px;
    }
 


    .skillsat{
        top: 850px;
    }
    .skills-container{
        top: 850px;
       left: 18%;
    }
    .skills-img{
        top: 420px;
        left: -500px;
    }
    
   
    .a1, .j3, .getin, .h3, .l3{
        position: relative;
        width: 400px;
        
        
    }
    .h3{
        position: relative;
        left: 45px;
       
    }
    .l3{
        position: relative;
        left: 35px;
    }
    .j3{
        position: relative;
        left: -5px;
    }

    .m3, .m4, .j4{
        position: relative;
        left: 0px;
        display: none;
    }
    .m3{
        position: relative;
        left: -20px;
    }
    .m4{
        position: relative;
        left: 70px;
    }



    .portfolio{
        position: relative;
        top: 50px;
        left: -40px;
    }
    .portfolio-content{
        position: relative;
        left: 120px;
    }

    .text2{
        left: 0%;
    }

    .services{
        position: relative;
        top: -100px;
        height: 100px;
        left: -50px;
    }

    .services-content{
        position: relative;
        left: 50px;
        top: 540px;
    }
    .col{
        top: -300px;
        left: -40%;
    }
    
    .coli1{
        position: relative;
        top: 30px;
       
    }
   
    .contact-info{
        position: relative;
        top: 3400px;
        left: 40%;
        width: 100%;
    }

    .getin{
        position: relative;
        top: 2800px;
        left: -5px;
    }
    html{
        width: 420px;
    }
    
    .s1{
        position: relative;
        top: 2800px;
        width: 
        300px;
        left: 60px;
    }
    .input-field{
        width: 95%;
    }
    

    .form-inputs{
        position: relative;
        left: 180px;
        width: 400px;
        top: 1050px;
    }
    .text-area{
        position: relative;
        top: 1050px;
        width: 400px;
        left: 480px;
    }
    .btn1{
        position: relative;
        left: -180px;
        top: 1050px;
        width: 404px;
    }
    .form-group{
        position: relative;
        left: 400px;
        top: 1000px;
    }
    .form-control{
        position: relative;
        width: 300px;
        left: 490px;
        top: 940px;
    }
    #email, #name{
        position: relative;
        top: -50px;
        left: 90px;
    }
    .btn-primary{
        position: relative;
        top: 1000px;
        left: 392px;
    }

    .a1{
        position: relative;
        left: 0px;
    }
    .m1{
        position: relative;
        left: 400px;
        top: 1000px;
    }
    #message{
        position: relative;
        left: 90px;
        top: -50px;
    }
    #m2{
        position: relative;
        left: 395px;
    }
  


    footer{
        position: relative;
        top: 2500px;
        left: -20px;
    }


    
}
    
@media only screen and (max-width: 375px){
    .foto1{
        left: 200px;
    }
    .about-info{
        left: 160px;
    }
    .contact-info{
        left: 165px;
    }
    .form-inputs{
        width: 350px;
        left: -150px;

    }
    .text-area{
        width: 340px;
        left: -150px;
    }
    .btn1{
        width: 350px;
        left: -150px;
    }
    .services-content{
        left: 20px;
    }
    .text2{
        left: 25px;
    }
    .portfolio-content{
        left: 200px;
    }
    .text1{
        left: 130px;
    }
    .skills-img{
        left: -480px;
    }
    .foto2{
        left: 0px;
    }
}

@media only screen and (max-width: 320px){

    .nav-menu.responsive{
        position: fixed;
        top: 80px;
        left: -30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        width: 605px;
        min-height: 450px;
        height: 230vh;
        transition: .3s;
    }
    
    .featured-box{
        left: -10px;
    }

    .foto1{
        top: -2380px;
        left: 200px;
    }

   .foto{
    top: -2350px;
    left: 110px;
   }
   .about-info{
    left: 170px;
    width: 300px;
   }
   .a1{
    position: relative;
    left: 15px;
   }
   .skillsat{
    left: 30px;
   }
   .skills-container{
    left: 90px;
   }
   .foto2{
    left: 0px;
   }
   h4{
    position: relative;
    left: 50px;
   }
   .j4{
    left: -10px;
   }
   .h3{
    left: -20px;
   }
   .j3{
    position: relative;
    left: -20px;
   }
   .services-content{
    left: 15px;
   }
   .portfolio-content{
    left: 205px;
   }

   footer{
    top: 2500px;
    width: 300px;
    left: 50px;
   }

   .getin{

    left: 10px;

   }
   .s1{
    position: relative;
    left: 50px;
   }
   .text1{
    left: 110px;
   }

   .skills-img{
    left: -470px;
   }
   .contact-info{
    position: relative;
    width: 100%;
    left: 170px;
   }
   .form-inputs{
    width: 300px;
    left: -135px;
   }
   .text-area{
    width: 286px;
    left: -135px;
   }
   .btn1{
    width: 300px;
    left: -133px;
   }
}

